@import url("../../../App.css");

.card{
    max-width: 80%;
    display: grid;
    gap:1rem;
    grid-template-areas: 
    'imag'
    'name'
    'sumary'
    'contect';
    margin-top: 1rem;
}

.card-border{
    border: 1px solid black;
    border-radius: 15px;
}

.portfolio-imag{
    grid-area: imag;
}
.name{
    grid-area: name;
    background:var(--primary);
    color: var(--text-secondary);
}
.contect{
    grid-area: contect;
    background:var(--primary);
}

.sumary{
    grid-area: sumary;
}

.contect > ul{
    list-style: none;
    padding-left:0;
    width:50%;
    display: flex;
    justify-content: space-around;
}

.my-image{
    width: 100px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .card{
        grid-template-areas: 
        'imag name '
        'contect sumary ';
        max-width:60%;
        min-height:40vh;
    }
    .contect > ul{
        flex-direction: column;
    }
}
.contactIcon{
    width:50px;
    height: 50px;
    fill: var(--text-secondary);
    border: 1px solid transparent;
    transition: all 0.2s ease-in;
}

.contactIcon:hover{
    fill: var(--logo);
    border-radius: 10px;
    border: 1px solid var(--logo);
    transition: all .6s ease-out;
}