circle{
    fill:none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    animation: progress-anim 3s linear forwards;
}

@keyframes progress-anim {
    0%{
        stroke-dasharray: 450;
        stroke-dashoffset:450;
    }
}