@import url("../../../App.css");
.nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color:var(--primary);
    padding: 0em 1em
}

.resume-icon{
    width:25px;
    fill:var(--text-secondary);
    padding-top: 5px;
}
.nav-list-item > a{
    display: flex;
    gap: 0.5rem;
}