@import url("../../../App.css");

.card{
    max-width: 80%;
    display: grid;
    gap:1rem;
    grid-template-areas: 
    'imag'
    'name'
    'sumary'
    'contect';
    margin-top: 1rem;
}

.centered{
    display: flex;
    justify-content:center;
    align-items:center;
    padding:15px 15px;
}
.card-border{
    border: 1px solid black;
    border-radius: 15px;
}

.portfolio-imag{
    grid-area: imag;
}
.name{
    grid-area: name;
    background:var(--background);
    color: var(--text-secondary);
}
.contect{
    grid-area: contect;
    background:var(--background);
}

.sumary{
    grid-area: sumary;
}

.contect > ul{
    list-style: none;
    padding-left:0;
}
.contect > ul > li > a{
    text-decoration: none;
    color: var(--text-secondary);
}
.contect > ul > li > a:hover{
    text-decoration: underline;
    color:var(--logo);
}

.my-image{
    width: 100px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .card{
        grid-template-areas: 
        'imag name '
        'contect sumary ';
        max-width:60%;
        min-height:40vh;
    }
}