

:root {
  margin:0;
  box-sizing: border-box;
  --primary: black;
  --logo: rgb(235, 187, 96); 
  --text-secondary:white;
  --body-background:rgba(221, 224, 214, 0.649);
}

.centered{
  display: flex;
  justify-content:center;
  align-items:center;
  padding:15px 15px;
}
body{
  background: var(--body-background)
}